<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheat Sheeter</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.7/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.1/showdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-showdown/1.1.0/ng-showdown.js"></script>

    <script src="js/scripts.js"></script>
    <script src="js/storageProxies.js"></script>

    <link rel="stylesheet" type="text/css" href="styles/theme.css">
</head>
<body class="mainTheme">
    <div ng-app="cheatsheetapp" ng-controller="mainCtrl">
        <h1>{{ title }}</h1>
        <div class="appContainer">
            <div class="cardArea">
                <div class="card" markdown="currentCard"></div>
                <!--suppress JSUnusedLocalSymbols -->
                <div class="card" ng-repeat="card in cards" markdown="card"></div>
            </div>

            <div class="cardEditor">
                <h2>Editor</h2>
                <div ng-hide="loggedIn">
                    <button ng-click="login()">Login</button>
                    <button ng-click="register()">Register</button>
                </div>
                <div ng-hide="!loggedIn">
                    Logged in as: {{ proxy.username }}
                    <button ng-click="logout()">Logout</button>
                    <br/>
                    <button ng-click="save()">Save</button>
                    <button ng-click="load()">Load</button>
                </div>
                <textarea class="editorTextArea" ng-model="currentCard"></textarea>
            </div>
        </div>
    </div>
</body>
</html>
