/*Variable declarations*/

* {
    --main-background-color: #303030;
    --text-color: #ccc;

    --theme-primary-color: #505050;
    --theme-primary-text-color: var(--text-color);

    --link-color: #7bc0fc;

    --heading-font: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', 'Bookman', 'Goudy Old Style', 'Garamond', 'Hoefler Text', 'Bitstream Charter', 'Georgia', 'serif';
    --primary-font: 'Noto Sans', 'Myriad Pro', 'Calibri', 'Helvetica', 'Arial', 'sans-serif';

    --card-area-background-color: white;

    --card-primary-color: #81b5e2;
    --card-secondary-color: #0055a0;

    --card-primary-text-color: black;
    --card-secondary-text-color: white;
}


/* Themes                                                */
/*********************************************************/

.mainTheme {
    background-color: var(--main-background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
}

.mainTheme h1 {
    font-family: var(--heading-font);
}

.mainTheme a {
    color: var(--link-color);
    text-decoration: none;
}

.mainTheme a:hover {
    text-decoration: underline;
}

/* Card display */

.cardArea {
    background-color: var(--card-area-background-color);
    padding: 1px;
    border-radius: 5px;
    margin: 5px;
}

.card {
    background-color: var(--card-primary-color);
    color: var(--card-primary-text-color);
    margin: 10px;
    border-radius: 5px;
    border-top: 10px solid var(--card-secondary-color);
    border-bottom: 5px solid var(--card-secondary-color);
}

.card * {
    margin: 0;
    padding: 3px;
}

.card h2, .card h3, .card p {
    padding: 3px 3px 3px 10px;
}

.card .invisibleWrapper {
    padding: 0;
}

.card em, .card strong, .card del, .card u, .card span {
    padding: 0;
}

.card h1 {
    margin: 0 0 10px;
}

.card h2, .card h3 {
    background-color: var(--card-secondary-color);
    color: var(--card-secondary-text-color);
}

.card h2:first-child, .card h3:first-child {
    margin-bottom: 5px;
}

.card table {
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}


.card > .invisibleWrapper > *:last-child, .card > .invisibleWrapper > *:last-child > *:last-child {
    padding-bottom: 0;
}
.card thead {
    background-color: var(--card-secondary-color);
    color: var(--card-secondary-text-color);
}

.card td {
    padding-left: 20px;
    padding-right: 20px;
}

.card tbody tr:nth-child(even), .card ul > li:nth-child(even) {
    background-color: white;
}

.card ol {
    padding-left: 30px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul > li{
    padding-left: 15px;
    padding-right: 0;
}

.card ul > li:nth-child(odd) {
    background-color: var(--card-primary-color);
}

.card hr {
    margin: 3px;
    padding: 0;
    border: 1px solid var(--card-secondary-color);
}

/* Card editor */

.cardEditor {
    background-color: var(--theme-primary-color);
    color: var(--theme-primary-text-color);

    padding: 10px;
    margin: 5px;

    border-radius: 5px;
}

.cardEditor h2:first-child {
    margin-top: 0;
}

.cardEditor .editorControlPanel {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardEditor > .editorTextArea {
    width: 100%;
    height: 150px;
}

/* Flex-boxes                                            */
/*********************************************************/

/* Container: .appContainer */

.appContainer {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.cardArea {
    flex: 0 0 11in;
    width: 11in;
    height: 8.5in;
}

.cardEditor {
    flex: 1 0 300px;
}

/* Container: .cardArea */

.cardArea {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    align-content: stretch;
}

/* Container: .cardEditor */

.cardEditor {
    display: flex;
    flex-flow: column nowrap;
}

.cardEditor .editorControlPanel {
    flex: 0 0 0;
}

.cardEditor .editorTextArea {
    flex: 1 0 100px;
}